<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="http://cdn.rawgit.com/milligram/milligram/master/dist/milligram.css">
<body>
    <div class="row">
        <div class="column">
            input demand <br>
            {{ input_df | safe }}
        </div>
        <div class='column'>
            smoothed demand <br>
            {{ demand_df | safe }}
        </div>
    </div>
    <br>

    Equipment Hauler Routes <br>
    <div class='row'>
    {% for day, haulers in hauler_routes.items %}
        <div class='column'>
        {{ day }} <br>
        <br>
        {% for hauler, routes in haulers.items %}
            {{ hauler }} <br>
            {% for route, occurrances in routes.items %}
                {{ route }} = {{ occurrances }}<br>
            {% endfor %}
            <br>
        {% endfor %}
        </div>
    {% endfor %}
    </div>

    {%for picture in pictures%}
        <img src="/media/{{ picture }}"/>
    {% endfor %}
    <br>

    truck usage statistics <br>
    {{ truck_table | safe }} <br>
    <br>

</body>
