<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="http://cdn.rawgit.com/milligram/milligram/master/dist/milligram.css">

<h1> Welcome to Open-Route </h1>

<p> Open-Route is an open source application for hosting vehicle routing services
with an intuitive interface. The intention in providing this service is to show
that mathematical optimization is not only a means for organizations to save money,
but that it can also be a source of revenue when offered as a service.</p>

<b> the currently hosted service plans delivery routes over a 5 day horizon </b>

<h2> Objective </h2>
<p> The currently hosted service has two objectives:
<ul>
    <li> even out the number of deliveries made each day subject to all
        deliveries occurring within a window of the original delivery date </li>
    <li> find the optimal route for each delivery truck to make each day </li>
</ul>
</p>

<h2> Assumptions </h2>
<p> The currently hosted service makes the following assumptions:
<ul>
    <li> all items in the network are identical and fill the capacity of the
    delivery truck exactly </li>

    <li> each site demands an integer number of items on a given day </li>

    <li> a negative demand specifies items need dropped off at a given site
    on a given day - positive specifies items need picked up </li>

    <li> items can be dropped-off at a site within <i> delivery window </i> days including
        and prior to the demand date </li>

    <li> items can be picked-up from a site within
    <i> delivery window </i> days including and after the demand date </li>

    <li> <i> handling </i> is the amount of time required to load or unload
    an item from the delivery truck </li>

    <li> <i> day length </i> is the total amount of time a delivery truck can
    be in service during a day - including both driving and handling time </li>

    <li> <i> travel rate </i> is the average speed at which delivery trucks
    travel </li>
</ul>
</p>

<h2> Documentation </h2>
<p> If you have more questions about how the currently hosted service works,
you're invited to check out <a href="docs/introduction.html">this documentation</a>.
The link documents the python package and the optimization models on which the
currently hosted service runs. It also explains the environment that inspired
the objective and assumptions.</p>

<h2> Inputs </h2>
<p> Fill out the boxes below and hit ok when you're ready </p>

<form action="{% url 'website:end' %}" method="post">
{% csrf_token %}

    <div class='row'>
        <div class='column'>
            travel rate (mph): <input type="number" name='travel_rate' value=50><br>
        </div>
        <div class='column'>
            day length (minutes): <input type="number" name="day_length" value=720><br>
        </div>
        <div class='column'>
            handling (minutes): <input type="number" name="handle" value=90><br>
        </div>
        <div class='column'>
            delivery window (days): <input type="number" name="window" value=2><br>
        </div>
    </div>

    <div class='row'>
        <div class='column'>
            <h3> Daily Demands for Items </h3>
             <table>
                <tr>
                    <th></th>
                    <th>Day 1</th>
                    <th>Day 2</th>
                    <th>Day 3</th>
                    <th>Day 4</th>
                    <th>Day 5</th>
                </tr>
                <tr>
                    <td>Site 1</td>
                    <td><input type="number" name="11" value=0></td>
                    <td><input type="number" name="12" value=-2></td>
                    <td><input type="number" name="13" value=0></td>
                    <td><input type="number" name="14" value=0></td>
                    <td><input type="number" name="15" value=0></td>
                </tr>
                <tr>
                    <td>Site 2</td>
                    <td><input type="number" name="21" value=0></td>
                    <td><input type="number" name="22" value=-1></td>
                    <td><input type="number" name="23" value=0></td>
                    <td><input type="number" name="24" value=1></td>
                    <td><input type="number" name="25" value=0></td>
                </tr>
                <tr>
                    <td>Site 3</td>
                    <td><input type="number" name="31" value=0></td>
                    <td><input type="number" name="32" value=3></td>
                    <td><input type="number" name="33" value=0></td>
                    <td><input type="number" name="34" value=0></td>
                    <td><input type="number" name="35" value=0></td>
                </tr>
                <tr>
                    <td>Site 4</td>
                    <td><input type="number" name="41" value=0></td>
                    <td><input type="number" name="42" value=0></td>
                    <td><input type="number" name="43" value=1></td>
                    <td><input type="number" name="44" value=0></td>
                    <td><input type="number" name="45" value=0></td>
                </tr>
                <tr>
                    <td>Site 5</td>
                    <td><input type="number" name="51" value=0></td>
                    <td><input type="number" name="52" value=0></td>
                    <td><input type="number" name="53" value=0></td>
                    <td><input type="number" name="54" value=0></td>
                    <td><input type="number" name="55" value=-2></td>
                </tr>
            </table>
        </div>
        <div class='column'>
            <h3>Site Locations</h3>
            <table>
                <tr>
                        <th></th>
                        <th>latitude</th>
                        <th>longitude</th>
                </tr>
                  <tr>
                        <td>Start/End</td>
                        <td><input type="number" name="lat0" value=40.01></td>
                        <td><input type="number" name="long0" value=88.16></td>
                </tr>
               <tr>
                        <td>Site 1</td>
                        <td><input type="number" name="lat1" value=40.12></td>
                        <td><input type="number" name="long1" value=88.24></td>
                </tr>
                <tr>
                        <td>Site 2</td>
                        <td><input type="number" name="lat2" value=40.48></td>
                        <td><input type="number" name="long2" value=88.99></td>
                </tr>
                <tr>
                        <td>Site 3</td>
                        <td><input type="number" name="lat3" value=40.69></td>
                        <td><input type="number" name="long3" value=89.59></td>
                </tr>
                <tr>
                        <td>Site 4</td>
                        <td><input type="number" name="lat4" value=37.78></td>
                        <td><input type="number" name="long4" value=89.65></td>
                </tr>
                <tr>
                        <td>Site 5</td>
                        <td><input type="number" name="lat5" value=39.84></td>
                        <td><input type="number" name="long5" value=88.95></td>
                </tr>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='column'>
            Name: <input type='text' name='name'>
        </div>
        <div class='column'>
            Affiliation: <input type='text' name='affiliation'>
        </div>
        <div class='column'>
            Fun Fact!: <input type='text' name='fun_fact'>
        </div>
    </div>

    <input type="submit" value='ok!' />
</form>






