<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="http://cdn.rawgit.com/milligram/milligram/master/dist/milligram.css">

<h1> Welcome to Open-Route </h1>

<p> Gimme yo data -- or use what I have provided here </p>

<form action="{% url 'website:end' %}" method="post">
{% csrf_token %}

        travel rate (mph): <input type="number" name='travel_rate' value=50><br>

        day length (minutes): <input type="number" name="day_length" value=720><br>

        handling (minutes): <input type="number" name="handle" value=90><br>

        window (days): <input type="number" name="window" value=2><br>

        <table>
                <tr>
                        <th></th>
                        <th>Day 1</th>
                        <th>Day 2</th>
                        <th>Day 3</th>
                        <th>Day 4</th>
                        <th>Day 5</th>
                </tr>
                <tr>
                        <td>Site 1</td>
                        <td><input type="number" name="11" value=0></td>
                        <td><input type="number" name="12" value=-2></td>
                        <td><input type="number" name="13" value=0></td>
                        <td><input type="number" name="14" value=0></td>
                        <td><input type="number" name="15" value=0></td>
                </tr>
                <tr>
                        <td>Site 2</td>
                        <td><input type="number" name="21" value=0></td>
                        <td><input type="number" name="22" value=-1></td>
                        <td><input type="number" name="23" value=0></td>
                        <td><input type="number" name="24" value=1></td>
                        <td><input type="number" name="25" value=0></td>
                </tr>
                <tr>
                        <td>Site 3</td>
                        <td><input type="number" name="31" value=0></td>
                        <td><input type="number" name="32" value=3></td>
                        <td><input type="number" name="33" value=0></td>
                        <td><input type="number" name="34" value=0></td>
                        <td><input type="number" name="35" value=0></td>
                </tr>
                <tr>
                        <td>Site 4</td>
                        <td><input type="number" name="41" value=0></td>
                        <td><input type="number" name="42" value=0></td>
                        <td><input type="number" name="43" value=1></td>
                        <td><input type="number" name="44" value=0></td>
                        <td><input type="number" name="45" value=0></td>
                </tr>
                <tr>
                        <td>Site 5</td>
                        <td><input type="number" name="51" value=0></td>
                        <td><input type="number" name="52" value=0></td>
                        <td><input type="number" name="53" value=0></td>
                        <td><input type="number" name="54" value=0></td>
                        <td><input type="number" name="55" value=-2></td>
                </tr>
        </table>
        <table>
                <tr>
                        <th></th>
                        <th>latitude</th>
                        <th>longitude</th>
                </tr>
                  <tr>
                        <td>Start</td>
                        <td><input type="number" name="lat0" value=40.01></td>
                        <td><input type="number" name="long0" value=88.16></td>
                </tr>
               <tr>
                        <td>Site 1</td>
                        <td><input type="number" name="lat1" value=40.12></td>
                        <td><input type="number" name="long1" value=88.24></td>
                </tr>
                <tr>
                        <td>Site 2</td>
                        <td><input type="number" name="lat2" value=40.48></td>
                        <td><input type="number" name="long2" value=88.99></td>
                </tr>
                <tr>
                        <td>Site 3</td>
                        <td><input type="number" name="lat3" value=40.69></td>
                        <td><input type="number" name="long3" value=89.59></td>
                </tr>
                <tr>
                        <td>Site 4</td>
                        <td><input type="number" name="lat4" value=37.78></td>
                        <td><input type="number" name="long4" value=89.65></td>
                </tr>
                <tr>
                        <td>Site 5</td>
                        <td><input type="number" name="lat5" value=39.84></td>
                        <td><input type="number" name="long5" value=88.95></td>
                </tr>
                <tr>
                        <td>End</td>
                        <td><input type="number" name="lat6" value=40.01></td>
                        <td><input type="number" name="long6" value=88.16></td>
                </tr>
        </table>


        <input type="submit" value='ok!' />
</form>
